@import url("reset.css");

/*Basic Style*/
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.clearBoth{
	clear:both;
}
.alignLeft{
	text-align:left;
}
.alignRight{
	text-align:right;
}
.alignCenter{
	text-align:center;
}
.fontlightBlue{
	color:#4097c2;
}
.marginTop10{
	margin-top:10px;
}
.displayBlock{
	display:block;
}
.marginAuto{
	margin:auto;
}
.marginLeft13{
	margin-left:13px;
}
.marginLeft9{
	margin-left:9px;
}
.fontBlack{
	color:#000;
}
.fontGrey{
	color:#666;
}
.fontLightGrey{
	color:#ccc;
}
.fontDarkRed{
	color:#9F0006!important;
}
.font15{
	font-size:15px;
}
.100pc{
	width:100%;
}
.label{
	font-weight:bold;
}
.uppercase{
	text-transform:uppercase;
}
/*End of Basic Style*/

h1{
	padding:0;
	margin:0;
	background:url(../img/h1-bg.png);
	height:35px;
	width:736px;
	text-align:center;
	font-size:22px;
	line-height:33px;
	text-transform:uppercase;
	font-family:arial;
	color:#2286b8;
	margin-bottom:4px;
}

h2.leftSMenuTitle{
	font-family:tahoma,arial,verdana;
	color:#666666;
	text-transform:uppercase;
	padding-bottom:3px;
}

h2.orangeTitle{
	font-family:tahoma,arial,verdana;
	color:#f77c04;
	font-size:18px;
	text-transform:uppercase;
	margin-top:5px;
	margin-bottom:3px;
}
h2.blueTitle{
	color:#2582b2;
	font-size:14px;
	font-weight:normal;
	line-height:1em;
}
h2.greenTitle{
	color:#2fb1aa;
	font-size:14px;
	font-weight:bold;
	line-height:1.1em;
}

h2.colorStrip{
	background:url(../img/subTitleColorfulBg.gif) no-repeat;
	background-position:left top;
	text-transform:uppercase;
	font-size:16px;
	color:#2582b2;
	height:36px;
	line-height:38px;
}

h2.basicSL{
	background:url(../img/h2-basic-sl-bg.gif) no-repeat;
	background-position:-10px top;
	font-size:40px;
	color:#3498cb;
	height:80px;
	padding:0;
	margin:0;
	padding-top:25px;
	padding-left:10px;
}

h3.titleCs{
	background:url(../img/title-stp.gif) no-repeat;
	padding:12px 0px 12px 5px;
	color:#2582b2;
	font-size:16px;
}

h3.subTitle{
	color:#000;
}

h3.sinmpleTitle{
	font-size:15px;
	font-style:italic;
	border-bottom:2px dotted #6f6f6f;
	padding-bottom:3px;
	display:block;
	font-weight:normal;
}

body{
	font-family:arial,tahoma,verdana;
	font-size:12px;
	color:#000;
	background:url(../img/global-bg-tile.gif) repeat-x;
	background-position:top;
}

a:link, a:visited {
  color: #000; 
  text-decoration: none;
}
a:hover {
  text-decoration: underline; 
}

a.underline{
	text-decoration: underline; 
}
a.underline:hover{
	text-decoration: none; 
}

a.xunderline{
	text-decoration: none; 
}
a.xunderline:hover{
	text-decoration: none; 
}
a.blue{
	text-decoration: none;
	border-bottom:1px dashed #006A9F;
	color:#006A9F;
}
a.blue:hover{
	text-decoration: none; 
	border-bottom:none;
}

.globalContainer{
	width:964px;
	margin:0 auto;
}
.globalHomepageContainer{
	background:url(../img/homepage-topbottom-bg.gif) repeat-x bottom;

}

#logoWrapper{
	float:left;
}

#sloganWrapper{
	float:left;
	margin-left:22px;
	padding-top:30px;
}

#headerPic{
	float:right;
}

#languageSwitchWrapper{
	position:absolute;
	margin-left:188px;
	color:#000;
	background:#fff;
	padding:3px 7px;
}

#loginMenuWrapper{
	margin-top:0px;
	float:right;
	width:390px; /*345px*/
}

#loginMenuWrapper a.memberArea_link{
	width:105px;
	height:auto;
	display:block;
	float:left;
	margin-left:5px;
	color:#3d3c3c;
	padding:3px 5px 5px 5px;
	font-size:12px;
	background:#f3f3f3;
	font-family:Tahoma;
	text-align:center;
}
#loginMenuWrapper a.memberArea_link:hover, #loginMenuWrapper a.memberArea_link_hover{

	background:#5abae9;
	text-decoration:none;
	color:white;	
}

#loginMenuWrapper>.member_login_wrapper>.subLinkWrapper{
	margin-top:10px;
	padding-left:5px;
}
#loginMenuWrapper>.member_login_wrapper>.linkWrapper{
	line-height:1.3em;
	margin-top:6px;
}

#loginMenuWrapper a.mailing_link{

	width:135px;
	height:auto;
	display:block;
	float:left;
	color:#3d3c3c;
	padding:3px 5px 5px 5px;
	font-size:12px;
	background:#f3f3f3;
	margin-left:45px;
	font-family:Tahoma;
	text-align:center;
}
#loginMenuWrapper a.mailing_link:hover, #loginMenuWrapper a.mailing_link_hover{

	background:#5abae9;
	text-decoration:none;
	color:white;	
}


#loginMenuWrapper a.memberLogin_link{
	
	width:105px;
	height:auto;
	display:block;
	float:left;
	margin-left:5px;
	color:#3d3c3c;
	padding:3px 5px 5px 5px;
	font-size:12px;
	background:#f3f3f3;
	font-family:Tahoma;
	text-align:center;
}
#loginMenuWrapper .member_login_wrapper>.extraWrapper{
	line-height:1em;
	margin-top:20px;
	padding:3px 5px;
	background:url(../img/light-red-stripe.gif);
	border:1px solid #000;
	width:200px;
}
#loginMenuWrapper a.memberLogin_link:hover, #loginMenuWrapper a.memberLogin_link_hover{
	
	text-decoration:none;
	background:#5abae9;
	color:white;	
}
#loginMenuWrapper>.join_mail_list_wrapper{
	position:absolute;
	width:212px;
	background:#fff;
	margin-top:23px;
	margin-left:-76px;
	z-index:999;
	padding:0px 24px;
	padding-bottom:10px;
	color:#000;
	font-family:tahoma,arial;
	background:url(../img/stripe-bg/stripe_grey.png);
	border:3px solid #5F5F5F;
}
#loginMenuWrapper>.member_login_wrapper{
	position:absolute;
	width:212px; 
	background:#fff;
	margin-top:23px;
	margin-left:45px;
	z-index:9999;
	padding:0px 24px;
	padding-bottom:10px;
	color:#000;
	font-family:tahoma,arial;
	background:url(../img/stripe-bg/stripe_grey.png);
	border:3px solid #5F5F5F;
}
#loginMenuWrapper>.member_login_wrapper>.closeBtn, #loginMenuWrapper>.join_mail_list_wrapper>.closeBtn{
	padding:4px 0;
	text-align:right;
	font-size:11px;
	color:#7F0000;
}

#loginMenuWrapper>.member_login_wrapper a.underline, #loginMenuWrapper>.join_mail_list_wrapper a.underline{
	text-decoration:underline;
}

#loginMenuWrapper>.join_mail_list_wrapper .inputBoxWrapper,#loginMenuWrapper>.member_login_wrapper .inputBoxWrapper{
	text-align:center;
	line-height:1.6em;
}

#loginMenuWrapper>.join_mail_list_wrapper>.header{
	
}

#menuWrapper{
	xmargin-top:-8px;
	font-size:14px;
	color:#000;
	margin-bottom:8px;
}

#menuWrapper>.body{
	height:59px;
	width:934px;
	background-image:url(../img/menu-bg-tile.gif);
}

#bannerWrapper{
	background:url(../img/banner-frame.png);
	width:605px;
	height:279px;
	margin-left:8px;
	padding-left:10px;
	padding-top:10px;
}

#leftColumn{
	width:225px;
	float:left;
}

#rightColumn{
	width:736px;
	float:left;
	margin-left:3px;
}

#subPageWrapper{
	width:692px;
	float:left;
	margin-left:3px;
	background-color:#fff;
	border:1px solid #b0aaaa;
	padding:5px 20px
}

#subPageWrapper>h1{
	font-size:15px;
	font-style:italic;
	border-bottom:2px dotted #6f6f6f;
	padding-bottom:3px;
	display:block;
	font-weight:normal;
	background:none;
	color:#000;
	height:25px;
	width:700px;
}

.rounded_frame1_wrapper>.body{
	background-image:url(../img/rounded-frame-1-body.gif);
	width:315px;
	height:339px;
	padding:5px 0px;
}

.mainContentWrapper{
	background-color:#fff;
}
.mainContentWrapper>.top{
	/* background-image:url(../img/mainContentWrapper-top.png);*/
	width:734px;
	height:9px;
}
.mainContentWrapper>.body{
	/*border-left:1px solid #b0aaaa;
	border-right:1px solid #b0aaaa;*/
	
	width:694px;
	padding:5px 20px;
}
.mainContentWrapper>.bottom{
	/*background-image:url(../img/mainContentWrapper-bottom.png);*/
	width:734px;
	height:9px;
}

.bottomMicrositeBannerWrapper{
	margin-top:11px;
}

.bottomBannerWrapper{
	margin-top:11px;
}

.content_sty{
	
}

.eduSubTitleWrapper{
	margin-left:10px;
}

.otherGroupTourList{
	margin-top:100px;
	line-height:1.4em;
}

.tc_nonelogin_mainpage_wrapper{
margin-top:20px;
	line-height:1.4em;
}

#featuredToursHomepageWrapper{
	margin:0 auto;
	width:893px;
}

#featuredToursHomepageWrapper .single{
	xborder:1px solid #888787;
	border-bottom:1px solid #eaeaea;
	min-height:213px;
	background:#fff;
	width:261px;
	padding:13px 13px 0px 13px;
	float:left;
	margin-top:12px;
}
#featuredToursHomepageWrapper .single>.picFrame{
	border:5px solid #2582b2;
	width:105px;
}
#featuredToursHomepageWrapper .single>.marginSprt{
	margin-right:10px;
}
#featuredToursHomepageWrapper .single>.titleWrapper{
	width:107px;
	padding-bottom:10px;
	background-image:url(../img/doubleLine-sprt.gif);
	background-repeat:no-repeat;
	background-position:bottom;
}
#featuredToursHomepageWrapper .single>.content{
	margin-top:14px;
	min-height:80px;
	color:#000;
}
#featuredToursHomepageWrapper .single>.content>span.title{
	font-weight:bold;
	color:#2582b2;
	text-transform:uppercase;
}
#featuredToursHomepageWrapper .single>.content li{
	list-style-image: url(../img/blueDot-sprt.gif);
	float:left;
	margin:0;
}

#featuredToursHomepageWrapper .single>.bottom{
	height:20px;
	padding-top:4px;
}

/*group tour & fit featured wrapper*/

#featuredToursWrapper{
	margin:0 auto;
	width:688px;
}

#featuredToursWrapper .single{
	xborder:1px solid #888787;
	border-bottom:1px solid #eaeaea;
	min-height:213px;
	background:#fff;
	width:291px;
	padding:13px 13px 0px 13px;
	float:left;
	margin-top:12px;
	margin-left:15px;
}
#featuredToursWrapper .single>.picFrame{
	border:5px solid #2582b2;
	width:105px;
}
#featuredToursWrapper .single>.marginSprt{
	margin-right:15px;
}
#featuredToursWrapper .single>.titleWrapper{
	width:147px;
	padding-bottom:10px;
	background-image:url(../img/doubleLine-sprt.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
}
#featuredToursWrapper .single>.content{
	margin-top:14px;
	min-height:80px;
	color:#000;
}
#featuredToursWrapper .single>.content>span.title{
	font-weight:bold;
	color:#2582b2;
	text-transform:uppercase;
}
#featuredToursWrapper .single>.content li{
	list-style-image: url(../img/blueDot-sprt.gif);
	float:left;
	margin:0;
}

#featuredToursWrapper .single>.bottom{
	height:20px;
	padding-top:4px;
}

/* End of group tour & fit wrapper*/

.featuredToursContentBox{
	width:893px;
	margin:0 auto;
}
/*
#featuredToursWrapper{
	margin:0 auto;
}

#featuredToursWrapper .single{
	border:1px solid #888787;
	min-height:212px;
	background-image:url(../img/stripe-bg/stripe_light_sline2.png);
	width:215px;
	padding:19px 9px 5px 5px;
	float:left;
	margin-top:12px;
}
#featuredToursWrapper .single>.picFrame{
	border:5px solid #2582b2;
	width:90px;
}
#featuredToursWrapper .single>.marginSprt{
	margin-right:7px;
}
#featuredToursWrapper .single>.titleWrapper{
	width:107px;
}
#featuredToursWrapper .single>.content{
	margin-top:14px;
	min-height:100px;
	color:#000;
	font-size:12px;
}
#featuredToursWrapper .single>.content>span.title{
	font-weight:bold;
	color:#2582b2;
}
#featuredToursWrapper .single>.content li{
	list-style-image: url(../img/blueDot-sprt.gif);
	float:left;
	margin:0;
}
#featuredToursWrapper .single>.bottom{
	border-top:1px solid #c6c6c6;
	padding-top:4px;
}
*/

span.bullet_dot{
	background:url(../img/blueDot-sprt.gif) no-repeat;
	background-position:left center;
	padding-left:10px;
}

ul.birdS{
	list-style-image: url(../img/list-bullet-bird.png);
}

ul.birdS li{
	margin-left:34px;
	margin-top:15px;
	font-weight:bold;
	color:#666666;
	font-size:14px;
}

ul.miceBirdS{
	list-style-image: url(../img/list-bullet-bird.png);
}

ul.miceBirdS li{
	margin-left:34px;
	margin-top:12px;		
}

ul.miceBirdS li a{
	color:#2286D0;
	font-size:14px;
}


.listWrapper{
	width:246px;
	margin-left:60px;
}


#tcWrapper{
	background:url(../img/leftMenu/traveller-corner.gif) no-repeat;
	background-position:10px;
	height:55px;
	width:831px;
	padding-top:13px;
	padding-left:135px;
}
#tcWrapper a{
	margin-left:3px;
}

#edufun_topContent{
	width:458px;
	color:#000;
	
}

table.eduTbl td.text{
	padding:10px;
	font-size:14px;
	font-weight:bold;
	color:#666666;
	border-top:2px dotted #666;
	width:230px;
}
table.eduTbl td.number{
	padding-right:5px;
}

.eduFunBg{
	background-image:url(../img/edufun-top-bg.jpg);
	background-repeat:no-repeat;
	background-position:450px 55px;
}

.muslimBg>.topContent{
	color:#000;
}

.eduFunBg>.itinenariesContent{
	font-weight:bold;
	font-size:14px;
	color:#666666;
	margin-left:20px;
}

.eduFunBg>.itinenariesContent>.singleContactWrapper{
	width:163px;
	border-left:2px dotted #999999;
	padding:20px 20px 8px 20px;
	color:#999999;
}
.eduFunBg>.itinenariesContent>.lastColumn{
	border-right:2px dotted #999999;
}
.eduFunBg>.itinenariesContent>.singleContactWrapper>.orangeText{
	margin:20px 0;
	font-size:24px;
	color:#f76b0d;
	line-height:1em;
}
.eduFunBg>.itinenariesContent>.singleContactWrapper>.blueBig{
	margin-top:40px;
	margin-bottom:16px;
	font-size:24px;
	color:#3399cc;
	line-height:1em;
}
.eduFunBg>.itinenariesContent>.singleContactWrapper>.lastItem{
	margin-bottom:0;
}
.eduFunBg>.itinenariesContent>.singleContactWrapper>.title{
	font-size:18px;
	color:#00cccc;
	text-transform:uppercase;
	margin-bottom:20px;
}

.eduFunBg>.eduFunPackageWrapper, .muslimBg>.eduFunPackageWrapper, .tourListWrapper, .inboundBg>.eduFunPackageWrapper, .eduFunPackageWrapper{
	width:684px;
	margin-top:20px;
}
.eduFunBg>.eduFunPackageWrapper a, .muslimBg>.eduFunPackageWrapper a, .tourListWrapper a, .inboundBg>.eduFunPackageWrapper a, .eduFunPackageWrapper a{
	display:block;
}
.eduFunBg>.eduFunPackageWrapper a:hover, .muslimBg>.eduFunPackageWrapper a:hover, .tourListWrapper a:hover, .inboundBg>.eduFunPackageWrapper a:hover, .inboundBg>.eduFunPackageWrapper a:hover{
	text-decoration:none;
	background:#fff;
	background-image:url(../img/stripe-bg/stripe_3.png);
}
.eduFunBg>.eduFunPackageWrapper a.alt:hover, .muslimBg>.eduFunPackageWrapper a.alt:hover, .tourListWrapper a.alt:hover, .inboundBg>.eduFunPackageWrapper a.alt:hover, .eduFunPackageWrapper a.alt:hover{
	text-decoration:none;
	background:#fff;
	background-image:url(../img/stripe-bg/stripe_4.png);
}
.eduFunBg>.eduFunPackageWrapper>.singleWrapper, .muslimBg>.eduFunPackageWrapper>.singleWrapper, .tourListWrapper>.singleWrapper, .eduFunPackageWrapper>.singleWrapper, .inboundBg>.eduFunPackageWrapper>.singleWrapper{
	width:326px;
	height:91px;
	background:#eef9f8;
	padding:8px;
	margin-top:5px;
	float:left;
}
.eduFunBg>.eduFunPackageWrapper>.singleWrapper>.picFrame, .muslimBg>.eduFunPackageWrapper>.singleWrapper>.picFrame, .tourListWrapper>.singleWrapper>.picFrame, .inboundBg>.eduFunPackageWrapper>.singleWrapper>.picFrame, .eduFunPackageWrapper>.singleWrapper>.picFrame{
	width:81px;
	height:69px;
	padding:8px 9px;
	background:#fff;
	border:1px solid #a3cad8;
	float:left;
}
.eduFunBg>.eduFunPackageWrapper>.singleWrapper>.content, .muslimBg>.eduFunPackageWrapper>.singleWrapper>.content, .tourListWrapper>.singleWrapper>.content, .inboundBg>.eduFunPackageWrapper>.singleWrapper>.content, .eduFunPackageWrapper>.singleWrapper>.content{
	color:#2582b2;
	font-size:15px;
	font-weight:bold;
	float:left;
	width:180px;
	line-height:1.1em;
	/*text-transform:uppercase;*/
	padding-left:15px;
	padding-right:5px;
	/* padding-bottom:10px;
	background-image:url(../img/colourSprt.png);
	background-repeat:no-repeat;
	background-position:15px bottom; */
}

.eduFunBg>.eduFunPackageWrapper>.singleWrapper>.subtitle, .muslimBg>.eduFunPackageWrapper>.singleWrapper>.subtitle, .tourListWrapper>.singleWrapper>.subtitle, .inboundBg>.eduFunPackageWrapper>.singleWrapper>.subtitle, .eduFunPackageWrapper>.singleWrapper>.subtitle{
	width:180px;
	margin-top:3px;
	padding-left:15px;
	padding-right:5px;
	float:left;
	font-size:12px;
	line-height:1em;
}

.eduFunBg>.eduFunPackageWrapper>.alt, .muslimBg>.eduFunPackageWrapper>.alt, .tourListWrapper>.alt, .inboundBg>.eduFunPackageWrapper>.alt, .eduFunPackageWrapper>.alt{
	background:#eef4e3;
}

.tc_signup_wrapper{
	margin-top:10px;
	padding-bottom:10px;
}
.online_signup_wrapper{
	margin-top:10px;
	border-top:2px dotted #ccc;
}
.divGroupTourSearchMsg{
	padding:5px;
	background:url(../img/stripe-bg/stripe_grey.png);
	border:4px solid #F7F7F7;
}

#footerPicWrapper{
	text-align:center;
	background:url(../img/footer-pic-bg.gif) repeat-x bottom;
}

#footerWrapper{
	border-top:6px solid #3490be;
	background-color:#50bdb7!important;
	text-align:center;
	xmargin-top:20px;
	font-family:tahoma, arial;
	color: #000;
	height:95px;
}

#footerWrapper .content{
	height:70px;
	width:964px;
	margin:12px auto;
	background-color:#fff;
}

#footerWrapper a{
	font-size:12px;
}

/*Tab Styling*/
ul.leftSMenuTab{
	display:block;
}

.htabs, .htabs2{	overflow:hidden; }
.htabs li a{
	display:block;
	border:0;
	padding-top:11px;
	height:24px;
	font-family:verdana,arial,verdana;
	font-weight:bold;
	font-size:11px;
	text-transform:uppercase;
	color:#fff;
}
.htabs li a.BGlightGreen{
	background:url(../img/greenTab.gif) no-repeat;
	width:94px;
	padding-left:20px;
}
.htabs li a.BGlightBlue{
	background:url(../img/blueTab.gif) no-repeat;
	width:83px;
	padding-left:12px;
}
.htabs li a.BGlightOrange{
	background:url(../img/orangeTab.gif) no-repeat;
	width:94px;
	padding-left:12px;
}
.htabs li a:hover{
	/*color: #000;*/
}
.htabs li a.select{
	text-decoration:underline;
}

.htabs li, .htabs2 li{
	float:left;
	margin-top:2px;
	overflow:hidden;
}
.tabContentBox{
	background:#fff;
	/*border:7px solid #1ba7a3;*/
	border:7px solid #94c51c;
	min-height:255px!important;
	padding:2px 18px;
}
.tabContentBox .content{
	height:235px;
}

.htabs li a.smaller{
	margin:0;
	height:0;
	padding:0;
}

.htabs li a.BGlightGreen_s{
	background:url(../img/greenTab-s.gif) no-repeat;
	width:65px;
	padding-left:5px;
}
.htabs li a.BGlightBlue_s{
	background:url(../img/blueTab-s.gif) no-repeat;
	width:67px;
	padding-left:3px;
}
.htabs li a.BGlightOrange_s{
	background:url(../img/orangeTab-s.gif) no-repeat;
	width:66px;
	padding-left:2px;
}
.tabContentBox2{
	background:#fff;
	/*border:7px solid #1ba7a3;*/
	border:7px solid #94c51c;
	min-height:395px!important;
	padding:2px 10px;
	width:174px;
}
.tabContentBox2 .content{
	height:370px;
}
/*End of Tab Styling*/

/*Table Style*/
table.formTable, table.formTable2{
	font-family:tahoma, arial;
	color:#686868;
}



table.formTable td,th, table.formTable2 td,th{
	padding:2px 1px;
}

table.formTable th, table.formTable2 th, td.label{
	font-weight:normal;
	text-transform:uppercase;
	text-align:left;
	vertical-align:top;
}

table.formTable input{
	font-family:tahoma,arial;
	height:15px;
	border:2px solid #d5d5d5;
	color:#686868;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
table.formTable select{
	height:20px;
	border:2px solid #d5d5d5;
	color:#686868;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

table.formTable2 input{
	font-family:tahoma,arial;
	border:1px solid #cdcdcd;
	background-color:#fafaf8;
}
table.formTable2 select{
	height:20px;
	border:1px solid #cdcdcd;
	background:#fafaf8;
}
table.formTable2 textarea{
	height:20px;
	border:1px solid #cdcdcd;
	background:#fafaf8;
}

table.formTable input.dateInput{
	background:url(../img/calendar-n.gif) no-repeat;
	background-position:right;
	
}

table.gridTable {
  border: 1px solid #ddd;
  border-collapse:collapse;
}

table.gridTable td, table.gridTable th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 5px 8px 5px 8px;
}
table.gridTable th {
  text-align: left;
  background-color: #ccc;
}
table.gridTable tr:nth-child(odd) {
  background-color: #fff;
}

table.gridTable tr.rowHeading1 td{
  text-align: left;
  background-color: #ccc;
  font-weight:bold;
  color:#000;
}

table.gridTable2 {
  border: 1px solid #8CCF5A;
  border-collapse:collapse;
}

table.gridTable2 td, table.gridTable2 th {
  border-bottom: 1px solid #8CCF5A;
  border-right: 1px solid #8CCF5A;
  padding: 5px 8px 5px 8px;
  vertical-align:top;
}
table.gridTable2 th {
  text-align: left;
  background-color: #9DCD7A;
  font-size:14px;
  font-weight:normal;
}
table.gridTable2 tr:nth-child(odd) {
  background-color: #fff;
}

.dateInput2{
	background:url(../img/calendar-n2.gif) no-repeat;
	background-position:right top;

}

table.formTable3 td{
	vertical-align:top;
	padding:5px;
}
table.formTable3 td.alt{
	background-color:#dcdcdc;
}
table.zerotable td{
	padding:2px 0;
}
/*END of Table Style*/

/*Frame Style*/
.frame2{
	background-image:url(../img/frame-2-bg.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#fff;
	width:210px;
	min-height:430px;
	padding:5px 5px;
	border:1px solid #888787;
}
.frame3{
	width:220px;
	height:514px;
	background:url(../img/rounded-frame-3.png) no-repeat;
	padding-left:5px;
	padding-top:13px;
	
}
.frame3 a{
	display:block;
	margin-bottom:11px;
}
.frame4{
	width:220px;
	height:393px;
	background:url(../img/rounded-frame-4.png) no-repeat;
	text-align:center;
	text-transform:uppercase;
	font-family:arial;
	color:#1eada9;
	font-weight:bold;
	line-height:2.0em;
	font-size:16px;
}

.frame4 a{
	display:block;
	margin-bottom:11px;
}

.frameWhyCtc{
	background:url(../img/rounded-frame-99.png) no-repeat;
	width:902px;
	height:203px;
	padding:10px 30px;
	color:#494a46;
	font-family:tahoma,arial;
}

/* .frameWhyCtc>.desc{
	width:470px;
	margin-left:36px;
	line-height:1.3em;
	margin-top:15px;
}
 */
.frameWhyCtc>.desc{
	width:430px;
	margin-left:14px;
	line-height:1.3em;
	margin-top:-10px;
}

.frameWhyCtc>.desc b{
	color:#000;
}

.frameMicrosite{
	background:url(../img/rounded-frame-6.png) no-repeat;
	text-align:center;
	width:312px;
	height:146px;
	padding-top:11px;
}

.frameBottomBanner{
	background:url(../img/rounded-frame-7.png) no-repeat;
	text-align:center;
	width:232px;
	height:106px;
	padding-top:1px;
}

.frame8{
	background:url(../img/rounded-frame-8.png);
	width:615px;
	height:58px;
	text-align:center;
	line-height:0.6em;
}
.frame9{
	/* background:url(../img/frame9-bg.gif);border:1px solid #cfcaca; */
	width:720px;
	height:559px;
	
}
.frame9>.itemWrapper{
	width:226px;
	float:left;
	padding:9px 6px;
}

.frame9>.itemWrapper>.button{
	margin-top:6px;
}
.frame9>.itemWrapper>.single .title{
	min-height:30px;
}
.frame9>.itemWrapper>.single a{
	display:block;
}
.frame9>.itemWrapper>.single a:hover{
	text-decoration:none;
}
.frame9>.itemWrapper>.single{
	height:115px;
	/*height:101px;*/
	/* border:1px solid #c7c3c0; */
	margin-top:4px;
	padding:6px 13px;
	color:#000;
	font-size:11px;
	font-family:tahoma, arial;
	background-color:#fff;
}
.frame9>.itemWrapper>.single .content{
	min-height:27px;
}
.frame9>.itemWrapper>.noneContent{
	/*background:url(../img/stripe-bg/stripe_grey.png);
	border:5px solid #F7F7F7;*/
	height:115px;
	margin-top:4px;
	padding:6px 13px;
	color:#000;
	font-size:11px;
	font-family:tahoma, arial;
	background-color:#fff;
}

.boxWithMsg{
	/*background:url(../img/stripe-bg/stripe_grey.png);
	border:5px solid #F7F7F7;*/
	height:56px;
	margin-top:4px;
	padding:20px 13px;
	color:#000;
	font-size:11px;
	font-family:tahoma, arial;
	font-size:14px;
	color:#fff;
	font-weight:bold;
}

.frame9>.itemWrapper>.single>.bottom{
	margin-top:10px;
	font-size:14px;
	text-transform:uppercase;
}

.frame9>.itemWrapper>.single h2.title{
	font-family:tahoma, arial;
	font-size:14px;
	line-height:1.1em;
	padding-bottom:6px;
	/*background:url(../img/blue-sprt.gif) no-repeat;
	background-position:bottom;
	margin-bottom:5px;*/
}
.frame9>.itemWrapper>.blueBox{
	background:url(../img/blue-sprt-l.gif) no-repeat;
	background-position:center bottom;
}
.frame9>.itemWrapper>.greenBox{
	background:url(../img/green-sprt-l.gif) no-repeat;
	background-position:center bottom;
}
.frame9>.itemWrapper>.orangeBox{
	background:url(../img/orange-sprt-l.gif) no-repeat;
	background-position:center bottom;
}
.frame9>.itemWrapper>.single>.blue{
	color:#107cc6;
}
.frame9>.itemWrapper>.single>.green{
	color:#0c9995;
}
.frame9>.itemWrapper>.single>.orange{
	
}

.frame10{
	/*background:url(../img/frame9-bg.gif) bottom;border:1px solid #cfcaca;*/
	/*width:225px;*/
	width:236px;
	height:auto;
	padding-bottom: 20px;
	padding-top:9px;
	text-align:center;
}

.frame10 a{
	display:block;
	margin-bottom:8px;
}
/*End of frame style*/

/*Slider style*/
.slideBannerWrapper{
	width:592px;
	height:267px;
	border:1px solid #b1b0ac;
	background:#fff;
	overflow:hidden;
}
#thumbNav{
	width:57px;
	border-right:6px solid #50bdb7;
	position: relative; 
	min-height:300px;
	background:url(../img/stripe-bg/stripe_lightblue.png);
}
#thumbNav a{
	display:inline-block;
	height:49px;
	width:57px;
	text-align:center;
	background:#fff;
	font-size:20px;
	color:#4097c2;
	line-height:49px;
	border-bottom:6px solid #50bdb7;
}

#thumbNav a:hover{
	color:#000;
	text-decoration:none;
}
#thumbNav a.cur{
	background:#50bdb7;
	color:#fff;
	text-decoration:none;
}

.slideNaviWrapper .navi_sprt{
	background:#50bdb7;
	height:5px;
}

/*End of Slider style*/

/*Button Style*/
input.button{
	/*border:1px solid #096d9a!important;*/
	background:#3a98c6;
	height:auto!important;
	color:#fff!important;
	padding:0px 9px;
	font-weight:bold;
	cursor:pointer;
}

a.basicbtn{	
	height:16px;
	xwidth:65px;
	color:#fff;
	font-family:tahoma,arial,verdana;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:3px;
	line-height:19px;	
	display:block;
	text-align:center;
}

a.basicbtn100p{	
	display:block;
	height:16px;
	width:30%;
	text-align:right;
	padding-right:5%;
	color:#fff;
	font-family:tahoma,arial,verdana;
	font-weight:bold;
	font-size:11px;
	padding-bottom:3px;
	line-height:19px;
	text-transform:uppercase;
}

a.blueGraBg_old{
	background:url(../img/btnBlue-bg.gif);
	background-repeat:repeat-x;
} 
a.blueGraBg{
	background:#f6f7f2;
	color:#3598ca;
	text-transform:uppercase;
	text-decoration:none;
	border:1px solid #0b6f9e;

}
a:hover.blueGraBg{

	background:#3598ca;
	color:#ffffff;

}

a.greenGraBg{
	background:url(../img/btnGreen-bg.gif);
	background-repeat:repeat-x;
}
a.orangeGraBg{
	background:url(../img/btnOrange-bg.gif);
	background-repeat:repeat-x;
}

input.readMoreBtn{
	background:url(../img/tour-group/read-more.png) no-repeat;
	width:75px;
	height:14px;
	cursor:pointer;
}

input.textBox{
	border:1px solid #cdcdcd;
	background-color:#fafaf8;
}
/*End of Button Style*/
/* == Error / Notice == */
.error {
  color: #fff;
  padding: 4px;
  font-size: 14px;
  margin: 5px 0;
  background:url(../img/error_bg.png);
}

.notice {
  color: #fff;
  padding: 4px;
  font-size: 14px;
  margin: 5px 0;
  background:url(../img/notice_bg.png);
}

.requiredAlert{
	border:1px solid #9F0909!important;
	background:#FFEFEF!important;
}

.noticeBoxRed{
	padding:5px;
	border:1px solid #9F0909;
	background:url(../img/light-red-stripe.gif);
	color:#000;
}
.noticeBoxGrey{
	padding:5px;
	border:1px solid #5F5F5F;
	background:url(../img/stripe-bg/stripe_grey.png);
	color:#000;
}
.horSepGrey{
	border-bottom:2px dotted #ccc;
}
.roundedBorderFrame{
	padding:5px;
	background-color:#50BDB7;
}
/* == End of Error / Notice == */

div.picFrame129{
  text-align: center;
  background-image: url(../img/picframe/pic-frame-129.gif);
  background-repeat: no-repeat;
  width:129px;
  height:137px;  
  padding-top: 16px;
  margin:0 auto;
}

#tcHeaderLeftWrapper{
	text-align:right;
}

td.privilege_box{
	text-align:center;
	vertical-align:top;
	font-size:14px;
	padding:5px;
}

.stripe_grey_bg{
	background-image:url(../img/stripe-bg/stripe_light_sline.png);
}
.stripe_greybigLine_bg{
	background-image:url(../img/stripe-bg/stripe_grey.png);
}
.stripe_blue_bg{
	background-image:url(../img/stripe-bg/stripe_3.png);
}
.stripe_blue_bg{
	background-image:url(../img/stripe-bg/stripe_3.png);
}
.stripe_green_bg{
	background-image:url(../img/stripe-bg/stripe_4.png);
}
.white_bg{
	background:#fff;
}
.lightGrey_bg{
	background:#EFEFEF;
}
.lightBlue_bg{
	background:#EFFFF4;
}
.light_green_bg{
	background:#F6FFEF;
}
.fullpage{
	background:#fff;
	height:500px;
	padding:20px;
	font-size:14px;
}

#sliderWarningBlock{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#fff;
	z-index:9999;
	text-align:center;
	padding-top:100px;
	display:none;
}

.title{
text-align:center;

}

a.readmore{

	background:url(../img/read-more.png);
	outline:none;
	width:70px;
}

a:hover.readmore{

	background-position:-82px 0px
}

a.viewall{

	background:url(../img/view-all.png);
	outline:none;
	width:55px;
}

a:hover.viewall{

	background-position:-66px 0px
}

.country-title{
font-size:16px;
font-weight:bold;
color:#2582b2;
padding-left:13px;
text-transform:uppercase;
}

.btnSend{
texst-align:center;
margin-top:10px;
margin-bottom:25px;
ovesrflow:auto;
margin-left:40%;
}

.hotel-list {
	font-size:13px;
	margin: 0 0 0 0px;
}

table.hotel-table{
	font-family:Arial;
	border:solid 1px #dddddd;
	border-collapse:collapse;
}

.hotel-table td{
	vertical-align:text-top;
  text-align:left;
	padding: 5px 5px;
	border:solid 1px #dddddd;
}

.alternative{
	background:#cccccc;
}

table.event-table{
	font-family:Arial;
	border:solid 1px #dddddd;
	border-collapse:collapse;
}

.event-table td{
	vertical-align:text-top;
  text-align:center;
	padding: 10px 5px;
	border:solid 1px #dddddd;
}

.event-table td .alt{
	background:#bbbbbb;
}

.inbound-select {
	border:solid 1px #0b6f9e;
	-moz-border-radius: 3px 3px 3px 3px;
	padding:1px 15px;
	font-size:12px;
	color:#3598ca;
	background:#f6f7f2;
	font-family:tahoma;
	font-weight:bold;
	margin-top:30px;
	cursor:pointer
}

.inbound-select:hover{
	background:#3598ca;
	color:#f6f7f2;
}

/*china page style*/

.chinaTourPage{
	color:#333333;
	font-family:arial,tahoma;
	font-size:13px;
}

h2.cp{
	font-family:arial;
	color:#2f99ce;
	text-transform:uppercase;
	padding-bottom:3px;
	font-size:19px;
	background:url(../img/cp-header-bg.gif) no-repeat;
	margin-left:-19px;
	height:98px;
	padding-top:20px;
	padding-left:40px;
	line-height:1.4em;
}

h2.cp_subtitle{
	font-family:arial;
	color:#2f99ce;
	text-transform:uppercase;
	padding-bottom:3px;
	font-size:18px;
}

.cp_chineseText{
	color:#3099ce;
	font-size:22px;
	margin-top:50px;
	font-weight:bold;
}
.cp_descBox{
	margin:26px 0 53px 0;
}
.cp_highlight{
	font-weight:bold;
	color:#f99f01;
}

.cp_picrowFrame{
	margin-left:-19px;
}

a.brochureBtn{
	display:block;
	background:url(../img/brochure-btn.png) no-repeat;
	width:130px;
	height:20px;
	text-decoration:none;
	margin-top:5px;
}
a.brochureBtn:hover{
	background:url(../img/brochure-hover-btn.png) no-repeat;
	text-decoration:none;
}

/*Update 2012 Nov Y2*/
.frame9>.itemWrapper_2{
	width:680px;
	float:left;
	padding:9px 6px;
	xborder:1px solid red;
}

.blue_titleWrapper{
    width:650px;
}

.blue_title_left{
	background:url(../img/dialog-blue-front.png) no-repeat;
	width:113px;
	height:46px;
	float:left;
}

.blue_title_center{
	background-image:url(../img/dialog-blue-middle.png);
	background-repeat:repeat-x;
	height:46px;
	width:490px;
	float:left;
}

.blue_title_right{
	background:url(../img/dialog-blue-back.png) no-repeat;
	width:40px;
	height:46px;
	float:left;
}

.blue_items_box{
	width:226px;
	float:left;
	padding:9px 6px;
}
/*End Of Edit*/